$font-size: 1rem;
$font-weight-1:400;
$font-weight-2:700;
$font: 'Karla', sans-serif;

//colors
:root{
    --teal-500: hsl(179, 62%, 45%);
    --teal-600: hsl(179, 70%, 40%);
    --green-400: hsl(71, 73%, 54%);
    --green-500:  hsl(71, 73%, 49%);
    --teal-100: hsl(207, 43%, 92%);
    --gray-500: hsl(218, 22%, 67%);
    --white: white;
}

*, *::before, *::after{
    box-sizing: border-box;
}

body, main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 30px;
    background-color: var(--teal-100);
    font-family: $font;
}

.grid_parent{
    display: grid;
    grid-template-columns: 325px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.grid-child{
    padding: 25px;

    &:nth-child(1){
        background-color: var(--white);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        h3{
            color: var(--teal-500);
        }

        .color-p{
            color: var(--green-400);
            font-weight: $font-weight-2;
        }

        p{
            color: var(--gray-500);
        }
    }

    &:nth-child(2){
        background-color: var(--teal-600);
        color: var(--white);
        h3{
            margin: 0;
        }

        .price{
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            height: 70px;
            align-items: center;
            gap: 10px;

            p{
                padding: 0;
                color: var(--teal-100);
            }
        }

        p{
            margin: 0;
            padding-bottom: 30px;
        }

        button{
            width: 100%;
            height: 50px;
            border:none;
            font-family: $font;
            font-size: $font-size;
            font-weight: $font-weight-2;
            background-color: var(--green-400);
            color: var(--white);
            border-radius: 5px;
            box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
            scale: 1;
            transition: background-colour 0.3s ease;
            transition: scale 0.3s ease;
        }

        button:hover{
            background-color: var(--green-500);
            scale: 1.05;
            cursor: pointer;
        }


    }

    &:nth-child(3){
        display: flex;
        flex-direction: column;
        align-items: start;
        background-color: var(--teal-500);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
        h3{
            color: var(--white);
            margin: 0;
            padding-bottom: 20px;
        }

        p{
            margin:0;
            color: var(--teal-100);
            font-size: 0.95rem;
            padding: 0.1rem;
            scale: 1;
            transition: color 0.3s ease;
            transition: scale 0.3s ease;
        }

        p:hover{
            color: var(--white);
            border: none;
            scale:1.03;
            cursor: pointer;
        }

    }
}

@media(min-width:40rem){
    body,main{
        height: 100vh;
        padding: 0;
    }

    .grid_parent{
        grid-template-columns: repeat(2, 350px);
        grid-row: repeat(4, 100px);
    }

    .grid-child{
        &:nth-child(1){
            grid-column: 1/3;
        }

        &:nth-child(2){
            grid-column: 1;
            grid-row: 2/3;
            border-bottom-left-radius: 5px;
        }

        &:nth-child(3){
            grid-column: 2;
            grid-row: 2/3;
            border-bottom-left-radius: 0px;
        }
    }
}